@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__inner {
        padding: 40px 0;
        display: flex;
        align-items: center;
    }
    &__logo {
        margin-right: auto;
        max-height: 92px;
    }
    &__logo-img {
        width: 100%;
    }
    &__menu {
        margin-right: 108px;
    }
    &__menu-list {
        display: flex;
    }
    &__menu-item + .header__menu-item {
        margin-left: 40px;
    }
    &__menu-link {
        color: $light-black;
        transition: all .3s;
        &:hover {
            color: #999; 
        }
    }
    &__sign-btn {
        display: inline-block;
        padding: 10px 24px;
        border: 1px solid #999999;
        border-radius: 35px;
        font-size: 14px;
        font-weight: 700;
        color: #100F2E;
        transition: all .3s;
        &:hover {
            background-color: #999;
            color: #fff;
        }
    }
}

.booking {
    &__inner {
        padding: 60px 0 120px;
    }
    &__info-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__title {
        font-size: 60px;
        line-height: 1.3;
        font-weight: 600;
        color: $black;
        margin-bottom: 30px;
        max-width: 646px;
    }
    &__subtitle {
        font-size: 20px;
        max-width: 476px
    }
    &__form {
        max-width: 500px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 22px 38px rgba(0, 34, 19, 0.04);
        border-radius: 20px;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
    }
    &__form-line1 {
        display: flex;
        justify-content: space-between;
    }
    &__form-line2 {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__form-date,
    &__form-people {
        max-width: 218px;
    }
    &__form-country {
        flex-grow: 1;
    }
    &__form-date,
    &__form-people,
    &__form-country {
        background-color: #FAFAFA;
        border-radius: 8px;
        padding: 12px 12px 12px 54px;
        border: none;
        background-size: 24px 24px;
        background-position: 15px 13px;
        background-repeat: no-repeat;
        &::placeholder {
            font-size: 24px;
            color: $light-black;
            transform: translateY(3px);
        }
    }
    &__form-date {
        background-image: url(../images/calendar.svg);
    }
    &__form-people {
        background-image: url(../images/person.svg);
    }
    &__form-country {
        background-image: url(../images/pin.svg);
    }
    &__form-btn {
        background-color: #3771C8;
        padding: 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            opacity: .8;
        }
        & img {
            width: 24px;
            height: 24px;
            object-fit: cover;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 16px;
    }
    &__item:first-child {
        grid-column: 1/4;
        grid-row: 1/3;
        position: relative;
        &::after {
            content: 'Wagstaffe NSW, Australia';
            position: absolute;
            bottom: 35px;
            width: 100%;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            font-size: 48px;
            font-weight: 600;
        }
    }
    &__item-img {
        border-radius: 16px;
    }
}

.facilities {
    &__inner {
        padding-bottom: 120px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 40px;
    }
    &__title-box {
        max-width: 605px;
    }
    &__title {
        @extend %title-font;
        margin-bottom: 15px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -11px;
    }
    &__col {
        width: 25%;
        max-width: 308px;
        padding: 11px;
    }
    &__item {
        background-color: #FFFFFF;
        box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    &__img {
        max-width: 56px;
        max-height: 56px;
        margin-bottom: 42px;
    }
    &__img-icon {
        width: 100%;
    }
    &__info {
        text-align: center;
        flex-grow: 1;
    }
    &__info-title {
        font-size: 20px;
        color: $light-black;
        margin-bottom: 12px;
    }
    &__info-text {
        color: $light-grey;
        margin-bottom: 35px;
        max-width: 278px;
    }
}

.about {
    &__inner {
        padding-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
    }
    &__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
    &__info-title {
        @extend %title-font;
        margin-bottom: 20px;
        max-width: 405px;
    }
    &__info-text {
        margin-bottom: 40px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -30px;
    }
    &__item {
        margin: 0 30px;
        max-width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
    &__item-title {
        display: inline-block;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 12px;
        color: $light-black;
    }
    &__item-text {
        color: $light-black;
    }
    &__info-link {
        color: #fff;
        padding: 16px 32px;
        background-color: #3771C8;
        border-radius: 8px;
        transition: all .3s;
        &:hover {
            opacity: .8;
        }
    }
}

.partners {
    &__inner {
        padding-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        width: 20%;
        max-width: 150px;
        margin: 0 45px;
    }
    &__item-img {
        width: 100%;
        object-fit: cover;
    }
}

.reviews {
    overflow: hidden;
    &__inner {
        padding-bottom: 120px;
    }
    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #F9D15C;
        border-radius: 12px;
    }
    &__item-img img {
        width: 100%;
        height: 100%;
        border-radius: 12px 0 0 12px;
        object-fit: cover;
    }
    &__item-info {
        padding: 42px 71px;
    }
    &__author {
        text-align: center;
        margin-bottom: 20px;
    }
    &__author-img {
        width: 62px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto 8px;
    }
    &__text {
        font-size: 30px;
        font-style: italic;
        font-weight: 300;
        line-height: 1.2;
        color: $light-black;
        margin-bottom: 44px;
    }
}

.location {
    &__inner {
        margin-bottom: 120px;
    }
    &__title {
        @extend %title-font;
        margin-bottom: 20px;
    }
    &__subtitle {
        max-width: 409px;
        margin-bottom: 20px;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 40px;
    }
    &__list {
        display: flex;
        margin-left: -20px;
    }
    &__list-item {
        margin: 0 20px;
    }
    &__list-btn {
        padding: 8px 28px;
        border: 1px solid #E8E8E8;
        border-radius: 8px;
        color: $gray;
        background-color: #fff;
        line-height: 1.4;
        cursor: pointer;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -12px;
    }
    &__col {
        width: 33.33%;
        padding: 12px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        height: 100%;
        color: $gray;
    }
    &__item-img img {
        width: 100%;
        height: 100%;
        max-height: 320px;
        object-fit: cover;
    }
    &__item-info {
        border-radius: 0 0 16px 16px;
        border: 1px solid #E8E8E8;
        border-top: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &__item-title {
        font-size: 20px;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $light-black;
        margin-bottom: 8px;
    }
    &__item-text {
        font-size: 14px;
        margin-bottom: 25px;
        flex-grow: 1;
    }
    &__details {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__item-price {
        font-size: 16px;
    }
    &__item-price b {
        font-size: 24px;
        font-weight: 600;
        color: #3771C8;
    }
    &__item-link {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        border-radius: 4px;
        background-color: #3771C8;
        padding: 5px 15px;
    }
}

.contacts {
    padding-bottom: 120px;
    &__inner {
        background-color: #EAECEB;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
    }
    &__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__info {
        padding: 60px 75px 66px;
    }
    &__title {
        @extend %title-font;
        margin-bottom: 20px;
        max-width: 700px;
    }
    &__subtitle {
        max-width: 535px;
        margin-bottom: 92px;
    }
    &__form {
        max-width: 485px;
        width: 100%;
        position: relative;
    }
    &__form-email {
        width: 100%;
        border: none;
        background-color: #fff;
        padding: 14px 150px 14px 26px;
        border-radius: 50px;
        &::placeholder {
            font-size: 14px;
        }
    }
    &__form-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 14px 32px;
        color: #fff;
        background-color: #3771C8;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }
}


.footer {
    &__inner {
        padding-bottom: 63px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1062px;
        margin: 0 auto;
    }
    &__info {
        max-width: 264px;
    }
    &__logo {
        display: inline-block;
        max-height: 90px;
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 32px;
    }
    &__social {
        display: flex;
        align-items: center;
    }
    &__social-link + .footer__social-link {
        display: inline-block;
        margin-left: 30px;
    }
    &__social-icon {
        width: 16px;
        height: 16px;
    }
    &__list-title {
        font-size: 24px;
        color: $light-black;
        margin-bottom: 20px;
        font-weight: 400;
    }
    &__list-item {
        margin-bottom: 16px;
    }
    &__list-link {
        color: $light-black;
        transition: all .3s;
        &:hover {
            color: #999;
        }
    }
}

@import 'media';